*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

p,
li,
h3,
h4 {
  font-family: Roboto;
}

.main-btn {
  background-color: #8bbc8b;
  padding: 10px 35px;
  border-radius: 1000px;
  color: rgb(255, 255, 255);
}

.main-btn:hover {
  background-color: #aadaaa;
}

.delius-swash-caps-regular {
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Navigation */

nav {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  position: fixed;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 100%;
  padding: 10px 70px;
}

nav ul a {
  text-decoration: none;
  font-family: Roboto;
  font-weight: bold;
}

nav .logo {
  font-size: 25px;
  color: white;
}

nav img {
  max-height: 100px;
  max-width: 400px;
}
nav ul li:nth-child(2),
nav ul li:nth-child(8) {
  flex: 1;
}

nav .navitem {
  color: grey;
}

nav .navitem:hover {
  color: #8bbc8b;
}

/* Hero */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/assets/img/kindergarden-ezgif.com-video-to-gif-converter.gif");
}

header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#0000008a, rgba(255, 255, 255, 0.623));
}

header h1 {
  margin-bottom: 15px;
  font-size: 50px;
  color: rgb(255, 255, 255);
  font-family: "Playfair Display SC";
  text-shadow: rgba(255, 255, 255, 0.464) 1px 0 10px;
}

/* About us */

.about-us {
  background-color: #aadaaa;
  padding: 45px;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-top: solid white 10px;
}

.about-us .about-middle {
  display: flex;
  background-color: rgba(255, 255, 255, 0.263);
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.633);
}

.about-us img {
  height: 150px;
}
.about-us .about-top {
  text-align: center;
  max-width: 1000px;
  margin-bottom: 25px;
}

.about-us div article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: calc(1080px / 3);
  padding: 30px;
  border-radius: 10px;
  background-color: white;
}

.about-us h2 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 15px;
}

.about-us h3 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.about-us ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 25px;
}

.about-us .about-bottom {
  margin-top: 25px;
  max-width: 1080px;
}

.about-us-container {
  margin-top: 100px;
}

/* Praktisk */

.pratical-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  background-color: #f1be7f;
}

.practical-container {
  margin-top: 100px;
}

.pratical-info article {
  background-color: white;
  padding: 35px;
  border-radius: 15px;
  width: 600px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pratical-info ul {
  margin: 10px 0 10px 25px;
}
.pratical-info img {
  height: 150px;
}
.pratical-info .text-container {
  gap: 20px;
  max-width: 1300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.264);
}

.pratical-info article p,
.pratical-info article li {
  color: grey;
}

.pratical-info h2 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 5px;
}

.pratical-info h3 {
  color: #dbad74;
  font-size: 25px;
  font-weight: bold;
  margin: 15px 0 10px 0;
}

.pratical-info h4 {
  color: #f1be7f;
  margin-top: 10px;
}

.pratical-info .text-top {
  max-width: 600px;
  text-align: center;
  margin-bottom: 25px;
}

/* Personale */

.workers {
  padding: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: #8bbc8b;
}

.workers div {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 25px;
}

.workers article p {
  color: #5e855e;
}
.workers .filler-image {
  height: 300px;
  width: 300px;
  border-radius: 15px;
}
.workers article {
  font-family: Roboto;
  gap: 5px;
  padding: 25px;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff4a;
  border-radius: 20px;
}

.workers a {
  font-size: 13px;
  text-decoration: none;
  color: rgb(74, 74, 74);
}

.workers img {
  margin-bottom: 5px;
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 1000px;
}

.workers h2 {
  font-size: 35px;
  font-weight: bold;

  margin-bottom: 15px;
}

/* Gallery */

.gallery {
  width: 100%;
  border-top: solid white 10px;
  padding: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #88aee3;
}

.gallery-container {
  margin-top: 100px;
}

.gallery .image-top {
  height: 150px;
  width: 150px;
}

.gallery ul {
  display: flex;
  gap: 10px;
  list-style-type: none;
}
.gallery img {
  border-radius: 10px;
  height: 300px;
  width: 300px;
  object-fit: cover;
  object-position: center;
}

.gallery h2 {
  font-size: 35px;
  font-weight: bold;
}

.gallery .text-top {
  margin-bottom: 15px;
  max-width: 800px;
  text-align: center;
}

.gallery div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.468);
  padding: 10px;
  border-radius: 10px;
}

/* Application */

.application {
  background-color: #baba76;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.application div {
  display: flex;
}

.application h2 {
  font-weight: bold;
  font-size: 35px;
  margin: 25px 0;
}

.application img {
  height: 150px;
  width: 150px;
}

.application article {
  max-width: 600px;
}


.application h3 {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  max-width: 350px;
  margin-bottom: 15px;
}

.application .main-btn {
  text-decoration: none;
  font-weight: bold;
  margin-top: 25px;
  display: inline-block;
  
}

.application .leftside {
  background-image: url("/assets/img/74b7caa9387152f2cc09fe590603f8f3b209d0c036399679c01acba9c83.jpg");
  background-repeat: no-repeat;
  background-position: top;
  min-width: 470px;
  min-height: 540px;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.application .leftside .gradient-bg {
  min-width: 470px;
  border-radius: 10px 0px 0px 10px;
  min-height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background: linear-gradient(#000000ac, #5a5a5a84);
}



.application .leftside p {
  text-align: center;
  max-width: 350px;
  margin-bottom: 25px;
}


/* Sign Up Section */

.application .rightside {
  background-color: white;
  min-width: 470px;
  min-height: 540px;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans", serif;
}

.application .rightside form {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}

.application .rightside input {
  margin-bottom: 10px;
  padding: 11px;
  border-radius: 5px;
  border: solid 2px rgba(0, 0, 0, 0.062);
}

.application .rightside label {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  color: rgb(127, 127, 127);
  margin-bottom: 5px;
}

.application .rightside .fill-half {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  width: 42%;
  padding: 0;
}

.application .rightside .fill-full {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Footer */

footer {
  background-color: white;
  display: flex;
  justify-content: center;

  padding: 25px 50px;
  gap: 50px;
}

footer img {
  height: 200px;
  margin-right: auto;
}



footer ul {
  margin: 10px 0 10px 25px;
}
footer div {
  background-color: #b1b1b122;
  padding: 25px;
  border-radius: 15px;
}
